<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Porium
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar animated showCancelButton placeholder="Procurar serviço"></ion-searchbar>
     <ion-list lines="none">
      <ion-item  (click)="clickItem(category)" *ngFor="let category of categoriesTemplate">
        <ion-icon slot="start" [ngStyle]="{'color':  category.iconColor }"  name="{{ category.icon }}"></ion-icon>
        <ion-label>{{ category.name }}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>