<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title text-center>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="openSliderQuizzPage()">
    <ion-img src="assets/images/pregnant.jpg"></ion-img>
    <ion-card-content>
      <div class="div-title">
        Estou grávida?
      </div>
      <div class="div-content">
        Este questionário avalia alguns sintomas de gravidez.
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="openSliderPage()">
    <ion-img src="assets/images/pregnant-time.jpg"></ion-img>
    <ion-card-content>
      <div class="div-title">
        Idade Gestacional
      </div>
      <div class="div-content">
        Calcule o tempo da sua gestação.
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
