.titulo{
    font-size: 1.1rem;
    text-align: center;
    color: #6b88dc;
}

.conteudo{
    padding-top: 20px
}

.referencias{
    padding-top: 10px;
    font-size: 0.9rem;   
}

li{
    padding-bottom: 5px;
    font-style: italic;
    font-size: 0.75rem;
}