<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Teste de Gravidez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides #slide style="height: 100%;" (ionSlideReachEnd)="sliderEnd($event)" pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="content">
        <div class="title-top">Teste de Gravidez</div>
        <div class="text-middle">Bem vinda ao teste de gravidez, responda o questionário abaixo para verifiar se seus sintomas podem ser uma dica
          precoce.</div>
        <div style="width: 100%; text-align: center; font-size: 1rem">
          
        </div>
        <div class="text-bottom">
          <ion-button color="tertiary" (click)="nextSlide()" expand="full">Próxima</ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let questao of questoes">
      <div class="content">        
        <div style="width: 100%; text-align: center; font-size: 1rem">
          <ion-list>
            <ion-list-header>
              <ion-label color="primary">{{ questao?.titulo }}</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let resposta of questao.respostas">
                <ion-label text-wrap class="labels">{{ resposta?.texto }}</ion-label>
                <ion-checkbox id="{{ questao.id }}_{{ resposta.id }}" #checkboxes class="checkboxes" slot="start"></ion-checkbox>
              </ion-item>           
          </ion-list>
        </div>
        <div class="text-bottom">
          <ion-button color="tertiary" (click)="nextSlide()" expand="full">Próxima</ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
        <div class="content">
          <div class="title-top">Seus resultados</div>
          <div *ngIf="displayResult" style="width: 100%">
            <h2>Resultado</h2>
          </div>
          <div *ngIf="!displayResult" class="text-bottom">
            <ion-button color="primary" (click)="verResultado()" expand="full">Ver resultado</ion-button>
          </div>
          <div *ngIf="displayResult" class="text-bottom">
              <ion-button color="primary" (click)="refazerTeste()" expand="full">Refazer o teste</ion-button>
            </div>
        </div>
      </ion-slide>    
  </ion-slides>
</ion-content>